/**
 * Main CSS for the site
 */

/* Import all the things */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Declare Global CSS vars */
:root {
    --main-color: #990011;
    --main-pair-color: #FCF6F5;
    --main-pair-invert: #03090A;
    --modal-bg-color: rgba(3,9,0,0.6);
}

/* Reset all the things */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-pair-invert);
    background: var(--main-color);
    font-size: 1rem;
}

ol li, ul li {
    padding: 5px;
    margin-left: 35px;
}

.logo {
    text-align: center;
}

.logo a {
    color: var(--main-pair-color);
    text-decoration: none;
    cursor: pointer;
}

a {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}

.quiz-window {
    padding: 1rem;
    height: 90vh;
    /* width: 80vh; */
    margin: auto;
}

.quiz-header {
    background: var(--main-pair-color);
}

.quiz-header > h2 {
    text-align: center;
}

.quiz-description-wrapper {
    background: var(--main-pair-color);
    padding: 1rem;
    height: 80%;
    max-width: 100%;
    overflow-y: auto;
}

.quiz-description {
    background: var(--main-pair-color);
    position: relative;
}

.question-slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}


#question-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    justify-content: flex-end
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-footer {
    background: var(--main-pair-color);
}

button {
    border: none;
    margin: 8px 4px;
    padding: 4px 8px;

}

input[type=submit] {
    /* for no js workflow */
    color: var(--main-pair-color);
    background-color:var(--main-color);
    border: none;
    margin: 4px 2px;
    padding: 4px 8px;
    text-decoration: none;
    float: right;
    cursor: pointer;
}

#submit, #next, #previous, #review, #close, #close-help {
    background: var(--main-color);
    color: var(--main-pair-color);
    float: right;
    cursor: pointer;
}

#order-helper {
    background: var(--main-pair-color);
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    padding-top: 20px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg-color); 
}

.modal-content {
    background-color: var(--main-pair-color);
    top: 10px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.modal-content > div {
    padding-bottom: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.close-modal {
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    float: right;
    padding-right: 1rem;
    margin-left: auto;
    order: 2;
    cursor: pointer;
}

.close-modal:hover, .close-modal:focus {
    color: var(--main-color);
    text-decoration: none;
    cursor: pointer;
}

label {
    padding: 1rem;
}

input[type=radio] {
    accent-color: var(--main-color);
}

@media screen and ( min-height: 480px ) {
    /* move up the buttons when screen is vertical and not small */
    #question-form {
        height: 60vh;
    }
}

@media screen and ( min-width: 520px ) {
    .quiz-window {
        width: 70vh;
    }
}