/**
 * Main CSS for the site
 */

/* Import all the things */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Declare Global CSS vars */
:root {
    --main-color: #990011;
    --main-pair-color: #FCF6F5;
    --main-pair-invert: #03090A;
    --modal-bg-color: rgba(3,9,0,0.6);
}

/* Reset all the things */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-pair-invert);
    background: var(--main-color);
}

.logo {
    text-align: center;
}

.logo a {
    color: var(--main-pair-color);
    text-decoration: none;
}

.quiz-window {
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    justify-content: center;
}

.quiz-header {
    background: var(--main-pair-color);
}

.quiz-header > h2 {
    text-align: center;
}

.quiz-description-wrapper {
    background: var(--main-pair-color);
    padding: 1rem;
}

.quiz-description {
    background: var(--main-pair-color);
    position: relative;
    height: 50vh;
}

.question-slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-footer {
    background: var(--main-pair-color);
}

#submit, #next, #previous, #review, #close {
    background: var(--main-color);
    color: var(--main-pair-color);
    float: right;
    padding-right: 1rem;
    margin-left: auto;
    /* margin-right: 10px; */
    border: none;
    margin: 8px 4px;
    padding: 4px 8px;
    text-decoration: none;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 4; 
    padding-top: 20px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: var(--modal-bg-color); 
}

.modal-content {
    background-color: var(--main-pair-color);
    top: 10px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    width: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.modal-content > div {
    padding-bottom: 1rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.close-request{
    color: var(--main-color);
    font-size: 28px;
    font-weight: bold;
    float: right;
    padding-right: 1rem;
    margin-left: auto;
    order: 2;
}

.close-request:hover, .close-request:focus {
    color: var(--main-color);
    text-decoration: none;
}