/**
 * Main CSS for the site
 */

/* Import all the things */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* Declare Global CSS vars */
:root {
    --main-color: #990011;
    --main-pair-color: #FCF6F5;
    --main-pair-invert: #03090A;
}

/* Reset all the things */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: var(--main-pair-invert);
    background: var(--main-color);
}

.logo {
    text-align: center;
}

.logo a {
    color: var(--main-pair-color);
    text-decoration: none;
}

.quiz-window {
    display: flex;
    flex-flow: column wrap;
    padding: 5%;
    align-content: center;
}

.quiz-header {
    background: var(--main-pair-color);
}

.quiz-header > h2 {
    text-align: center;
}

.quiz-description-wrapper {
    background: var(--main-pair-color);
}

.quiz-description {
    background: var(--main-pair-color);
}

.quiz-footer {
    background: var(--main-pair-color);
}

#submit, #next, #previous {
    background: var(--main-color);
    color: var(--main-pair-color);
    float: right;
    padding-right: 1rem;
    margin-left: auto;
    /* margin-right: 10px; */
    border: none;
    margin: 8px 4px;
    padding: 4px 8px;
    text-decoration: none;
}